@()(implicit request : RequestHeader)

@main("Philippe Suter", false) {
    <div class="row">
        <div class="span9">
            <h2>Philippe Suter</h2>
            <hr>
            <p class="pagination-justify">I work in the <a href="http://lara.epfl.ch">Laboratory for Automated Reasoning and Analysis</a>, where I obtained my PhD in December 2012 under the supervision of <a href="http://lara.epfl.ch/~kuncak/">Viktor Kuncak</a>. My <a href="http://infoscience.epfl.ch/record/182684">dissertation</a> focused on techniques for automated software verification and synthesis.</p>
        </div>

        <div class="span3"><img id="portrait" src="http://lara.epfl.ch/~psuter/img/portrait.png"></div>
    </div>

    <div class="row" id="education">
      <div class="span6">
        <h2>Education</h2>

        <table class="table">
          <tr><td class="daterange">2008&ndash;12</td><td><a href="http://www.epfl.ch">EPFL</a>, PhD. Computer Science</td></tr>
          <tr><td class="daterange">2006&ndash;08</td><td><a href="http://www.epfl.ch">EPFL</a>, MSc. Computer Science</td></tr>
          <tr><td class="daterange">2008</td><td><a href="http://web.mit.edu">MIT</a>, Visiting student</td></tr>
          <tr><td class="daterange">2003&ndash;06</td><td><a href="http://www.epfl.ch">EPFL</a>, BSc. Computer Science</td></tr>
          <tr><td class="daterange">2006</td><td><a href="http://www.ethz.ch">ETH Z&uuml;rich</a>, Research intern</td></tr>
          <tr><td class="daterange">2005&ndash;06</td><td><a href="http://www.mcgill.ca">McGill University</a>, Exchange year</td></tr>
        </table>
      </div>

              <div class="span6">
          <h2>Contact</h2>
          <table class="table">
              <tr>
                  <td class="contacticon"><i class="icon-envelope"></i></td>
                  <td colspan="3">firstname.lastname@@epfl.ch</td>
              </tr>
              <tr>
                  <td class="contacticon"><i class="icon-phone"></i></td>
                  <td>+41 21 69 31224</td>
                  <td class="contacticon"><i class="icon-print"></i></td>
                  <td>+41 21 69 36660</td>
              </tr>
              <tr>
                  <td class="contacticon"><i class="icon-envelope-alt"></i></td>
                  <td colspan="3">EPFL / I&amp;C / LARA / <a href="http://plan.epfl.ch/?room=BC358">BC 358</a><br />Station 14,<br />CH-1015 Lausanne</td>
              </tr>
              <tr>
                <td></td>
                <td colspan="3">
                  <a href="https://www.linkedin.com/profile/view?id=15081538"><i class="icon-linkedin-sign"></i></a> |
                  <a href="https://twitter.com/psuter/"><i class="icon-twitter"></i></a> |
                  <a href="https://plus.google.com/101464900205148013241/"><i class="icon-google-plus"></i></a> |
                  <a href="https://www.facebook.com/philippe.suter"><i class="icon-facebook"></i></a> |
                  <a href="https://github.com/psuter/"><i class="icon-github"></i></a>
                </td>
              </tr>
          </table>
        </div>
      </div>
}
